<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="basket-wrapper">
    <div class="dish-in-basket">
        <img src="/static/images/Buddha%20Bowl%20mit%20frischen%20Zutaten.png"
             alt="Buddha Bowl mit frischen Zutaten">
        <div class="dish-basket-title">Titel</div>
    </div>
    <div class="dish-in-basket">
        <img src="/static/images/Chili%20mit%20Reis%20und%20Käse.png" alt="Chili mit Reis und Käse">
        <div class="dish-basket-title">Titel</div>
    </div>
    <div class="dish-in-basket">
        <img src="/static/images/Gegrilltes%20Hühnchen%20mit%20Kartoffelstampf.png"
             alt="Gegrilltes Hünchen mit Kartoffelstampf">
        <div class="dish-basket-title">Titel</div>
    </div>
    <div class="dish-in-basket">
        <img src="/static/images/Rindfleisch%20mit%20Gemüse%20in%20Sauce.png"
             alt="Rindfleisch mit Gemüse in Sauce">
        <div class="dish-basket-title">Titel</div>
    </div>
</div>
<button class="bestellung">Bestellen</button>
</body>
</html>