<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Speisekarte</title>
</head>
<body>


<h3>Speisekarte</h3>
<div class="header">
    <div class="nav-controls">
        <button>&larr;</button>
        <span class="date-label">Datum – Datum</span>
        <button>&rarr;</button>
    </div>
    <div class="icon-buttons">
        <button><i class="fa fa-shopping-cart"></i></button>
        <button><i class="fa fa-sign-out"></i></button>
    </div>
</div>

<!-- Menütage -->
<div class="menu-day">
    <div class="day-title">Mo – Datum:</div>
    <div class="dishes">
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
    </div>
</div>

<div class="menu-day">
    <div class="day-title">Di – Datum:</div>
    <div class="dishes">
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
    </div>
</div>

<div class="menu-day">
    <div class="day-title">Mi – Datum:</div>
    <div class="dishes">
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
    </div>
</div>

<div class="menu-day">
    <div class="day-title">Do – Datum:</div>
    <div class="dishes">
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
    </div>
</div>

<div class="menu-day">
    <div class="day-title">Fr – Datum:</div>
    <div class="dishes">
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
        <div class="dish">
            Titel
        </div>
    </div>
</div>

</body>
</html>
