<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles.css" rel="stylesheet">
    <title>Login</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body class="login">
<nav>
</nav>
<h1 class="login-title">Login to your account</h1>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form action="/login" method="post" class="form">
    {% if not show_mfa %}
    <label for="username" class="label">Username:</label>
    <input type="text" name="username" id="username" required/>
    <label for="password" class="label">Password:</label>
    <input type="password" name="password" id="password" required/>
    <button type="submit" class="login-button">Login</button>
    {% else %}
    <!-- MFA step -->
    <p>{{ message }}</p>
    <input name="mfa_code" class="label" placeholder="Enter MFA code" required>
    <button type="submit" class="login-button">Verify Code</button>
    {% endif %}

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
</form>
</body>
</html>